{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
  style="background-image: url('/static/images/page-banner-1.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-banner-cont">
          <h2>Courses upload</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'course-home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Courses upload</li>
            </ol>
          </nav>
        </div> <!-- page banner cont -->
      </div>
    </div> <!-- row -->
  </div>
</section>

<section id="course-upload-page" class="pt-60 pb-110">
  <div class="container">
    <div class="title pt-15">
      <h2>Course Upload</h2>
    </div>
    <!-- Form -->
    <div class="reviews-form">
      <form action="#">
        <div class="row">
          <div class="col-md-6">
            <div class="form-single">
              <input type="text" placeholder="Fast name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-single">
              <input type="text" placeholder="Last Name">
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-single">
              <textarea placeholder="Comment"></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-single">
              <button type="button" class="main-btn">Post Comment</button>
            </div>
          </div>
        </div> <!-- row -->
      </form>
    </div>
  </div>
</section>


{% endblock content %}